#main{
  margin:auto auto;
  border: 1px red solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
}
p{
  color: red;
}
h2{
  color: blue;
}
button{
  color: #000;
  background-color: aqua;
}